@media (max-width: 1225px) {
    .card[data-v-e56908e2] {
      width: calc(100% / 4);
    }
  }
  
  @media (max-width: 843px) {
    .card[data-v-e56908e2] {
      width: calc(100% / 3);
    }
  }
  
  @media (max-width: 628px) {
    .card[data-v-e56908e2] {
      width: calc(100% / 2);
    }
  }

  @media (max-width: 800px) {
    footer[data-v-c0376f53] {
      img {
        display: none;
      }
    }
  }

  @media (max-width: 800px) {
    .jumbotron[data-v-940c3a57] {
      .bglogo {
        display: none;
      }
    }
  }

  @media (max-width: 700px) {
    header[data-v-48a13218] {
      ul {
        display: none;
      }
      img {
        margin: 0 auto;
      }
    }
  }