@mixin justify-between(){
    display: flex;
    justify-content: space-between;
}

@mixin reset-list(){
    list-style: none;
    display: flex;
    align-items: center;
}

@mixin reset-links(){
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 600;
}

@mixin content(){
    width: 70%;
    margin: 0 auto;
}
