// classi general scss


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    min-width: 800px;
}

.content{
    width: 70%;
    margin: 0 auto;
}
